<div>
    <img class="banner-img" src="assets/Images/banner-contact.png">
    <div class="type-list">
        <div *ngFor="let type of types" class="type" >
            <img  [src]="'assets/Images/' + type.Poster">
            <p >{{ type.TenTieuMuc }}</p>
        </div>
    </div>
</div>

<br>

<div class=" form-res flex">
    <div class="invite-logan">
        <h1>Unlock Your Online Storefront </h1> 
        <p>
            Mở cửa hàng trực tuyến của bạn, chúng tôi lo phần còn lại!
        </p>
    </div>

    <div class="invite-btn">
        <input type="text" placeholder="Your email" size="2">
        <button>Đăng ký ngay</button>
    </div>
</div>

<br>

<div class="list-product">
    <div class="item-product" *ngFor="let item of products">
        <img  src="assets/Images/poster_banh.jpeg">
        <div class="infor-product">
        <p class="product-address"> <mat-icon class="text-orange-600">storefront</mat-icon> {{ item.MaCH.DiaChi | slice:0:27 }} ...</p>
        <div class="flex"> 
            <p class="product-name">{{ (item.TenSP.length > 18) ? (item.TenSP | slice:0:18) + '...' : item.TenSP }}</p>
            <p class="product-price">{{ getMinPrice(item.DonGia) | currency:'VND':'symbol':'1.0-0' }}</p>
        </div>
       
        </div>
    </div>
</div>