
<div class="w-full px-4 bg-white py-[15px]">
  <p class="font-bold text-[18px]">Danh sách cần làm</p>
  <p class="text-gray-900 text-[12px]">Những việc bạn sẽ cần làm</p>
  <div>
    <ul class="flex state-order">

      <li class="border-r-2">
        <div class="">
          <p class="count">{{countWaiting()}}</p>
          <p>Chờ xác nhận</p>
        </div>
      </li>

      <li class="border-r-2">
        <div class="">
          <p class="count">0</p>
          <p>Chờ xác nhận</p>
        </div>
      </li>


      <li class="border-r-2"> 
        <div class="">
          <p class="count">0</p>
          <p>Đã nhận</p>
        </div>
      </li>


      <li>
        <div class="">
          <p class="count">{{countCancelOrder()}}</p>
          <p>Đã hủy</p>
        </div>
      </li>


    </ul>
  </div>
</div>
<br>

<div class="w-full px-4 bg-white py-[15px] h-[425px] ">
  <p class="font-bold text-[18px]">Đơn hàng của cửa hàng</p>
  
    <div class="flex">
      <select class="w-[150px] border-[1px]" id="cars" name="cars">
        <option selected disabled value="volvo">Trạng thái </option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <input type="text" class="px-2 w-[250px] border-[1px]">
      <div>
        <div class="bg-blue-500 inline-block px-[2px] flex text-white py-[2px]"><mat-icon>search</mat-icon> Tìm kiếm</div>
      </div>

      <select class="w-[150px] border-[1px] ml-[15px]" id="cars" name="cars">
        <option selected disabled value="volvo">Ngày đặt hàng</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Tất cả</option>
      </select>
     
  </div>

  <div class="mt-[10px]  h-[330px] overflow-y-scroll">
    <table class="table-auto w-full ">
      <thead>
        <tr class="title-voucher bg-gray-100  ">
          <th class="w-[170px] px-2">Mã đơn hàng</th>
          <th class="w-[150px] px-2">Hình thức giao hàng</th>
          <th class="w-[150px] px-2">Trạng thái</th>
          <th class="w-[150px] px-2">Khách hàng phải trả</th>
          <th class="w-[150px] px-2">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of inforOrder">
        <tr class="border-b-[1px]">
          <td>{{item._id}}</td>
          <td>Giao hàng tại cửa</td>
          <td>{{item.TinhTrangDonHang}}</td>
          <td>{{item.TongTien | currency:'VND':'symbol':'1.0-0' }}</td>
          <td>Xác nhận</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  

</div>