<p>Bản đồ giúp khách hàng dễ dàng định vị cửa hàng và xác định cách đến đó từ vị trí hiện tại của họ</p>

<div class="flex justify-center mt-[10px]">
    <div #map id="map" class=" w-[750px] h-[300px] " >
    </div>
</div>

<div class="mt-[5px] px-[100px]">
    <div class="flex text-[12px]">
        Số nhà (Cơ quan/nhà riêng):
        <input [(ngModel)]="newad" class="border-2 ml-2 w-[200px]" type="text">
        
        
    
    </div>
    <p class="text-[12px]">{{newAddress}}</p>
   
</div>
<br>
<div class="flex mt-[5px] justify-end">
<div (click)="updateDistance()" class="px-3 bg-green-500 text-white mr-[67px]">Cập nhật địa chỉ</div>
</div>