<div class="font-sans  flex mx-[10px] mt-2">
   
    <aside class="w-[400px] bg-gray-800 rounded-[20px] h-screen text-white flex justify-center">
        <div class="py-6 w-full">
            <img class="h-[150px] w-[150px] mx-auto" src="assets/Images/logouser.png">
            <ul class="sidebar">
                <li><a routerLink="/user/infor">Thông Tin</a></li>
                <li><a routerLink="/user/ordered">Đơn Đặt</a></li>
                <li>Lịch Sử</li>
                <li>Thống Kê</li>
                <li>Cài Đặt</li>
            </ul>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="flex-1 p-4 bg-gray-100 rounded-[20px] ml-2">
        <router-outlet ></router-outlet>
    </main>
</div>
