<div class="font-sans  flex mx-[10px] mt-2">
   

    

    <aside class="w-[250px] bg-gray-800 rounded-[20px] h-screen text-white flex justify-center relative">

        <video  class="absolute bg-cove h-[100%] opacity-40 object-cover rounded-[20px]" autoplay muted loop id="myVideo">
            <source src="assets/Images/pexels-pachon-in-motion-15283218 (1080p).mp4" type="video/mp4">
          </video>


        <div class="py-6 w-full z-50">
            <img class="h-[100px] w-[100px] mx-auto" src="assets/Images/logouser.png">
            <ul class="sidebar z-50">
                <li><a routerLink="/user/infor"> <mat-icon>home</mat-icon> Thông Tin</a></li>
                <li><a routerLink="/user/ordered"> <mat-icon>local_shipping</mat-icon> Đơn Đặt</a></li>
                <hr>
               
                <li><a routerLink="/user/setting"> <mat-icon>settings</mat-icon> Cài Đặt</a></li>
                <li (click)="logout()" ><a > <mat-icon>logout</mat-icon> Đăng Xuất</a></li>
            </ul>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="flex-1 p-4 bg-gray-100 border-[2px] border-pink-900 rounded-[20px] ml-2">
        <router-outlet ></router-outlet>
    </main>
</div>
