
<div class="title-infor">
    <h2>Hồ Sơ Của Tôi</h2>
    <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
</div>
<hr>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs flex">
	<li [ngbNavItem]="1">
	  <button (click)="active = 1" class="btn-option border-r-4" >Hồ sơ</button>
	  <ng-template ngbNavContent>
		<app-user-profile *ngIf="active === 1"></app-user-profile>
	  </ng-template>
	</li>
	<li [ngbNavItem]="2">
	  <button (click)="active = 2" class="btn-option border-r-4" >Đổi mật khẩu</button>
	  <ng-template ngbNavContent>
		<!-- <app-user-profile *ngIf="active === 2"></app-user-profile> -->
	  </ng-template>
	</li>
  </ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

