<div class="bg-pink-100 h-[20px]">

</div>

<header>

    <div class="div-header">
        <ul class="header-menu">
            <li>Home</li>
            <li>Shopping</li>
            <li>Contact</li>
            <li>Us about</li>
        </ul>
    </div>

    <div class="hr-logo" >
        <img class="header-logo" src="assets/Images/logo.jpg">
    </div>

    <div class="header-icon">
        <div class="icon-search">
            <div class="relative flex">
                
                <input #s (keyup.enter)="search(s.value)" type="text" placeholder="Search" class="outline-none border-none focus:text-red-500">
                
              </div>
              
        </div>
        <button (click)="search(s.value)"  class="bnt-search">Search</button>
        <div *ngIf="!user.TaiKhoan" (click)="login()" class="icon-cart"><mat-icon>supervised_user_circle </mat-icon></div>

        
        <div (click)="youruser()"><mat-icon>shopping_cart</mat-icon></div>
        <div *ngIf="user.TaiKhoan" (click)="logout()"  class="icon-cart"><mat-icon>logout </mat-icon></div>
    </div>


    


</header>
<br>
<hr>

<div class="slide-bar-header">


</div>