header{
    @apply flex grid grid-cols-3 justify-items-center px-[50px] py-[00px] h-[80px]  ;
}

.div-header{
    @apply mr-auto;
}
.header-menu{
    @apply flex mr-auto  ;
}

.header-menu li{
    @apply  text-[20px] ml-[20px] hover:text-red-500;
}

.header-logo{
    @apply h-[80px] 
}


.icon-search{
    @apply flex border-2 h-[40px] w-[20px] py-[4px]  rounded-l-full;
}

.icon-search div{
    @apply mt-[0px] ml-[0px];
}

.bnt-search{
    @apply h-[30px] bg-sky-400 text-[10px] px-1 text-white rounded-r-full mt-[1px]
}


.header-icon{
    @apply flex w-full gap-x-[30px];
}

.header-icon div{
    @apply ml-[10px] ;
}

.header-icon div mat-icon{
    @apply text-[35px] h-[50px] w-[50px] mt-[0px];
}

header .div-header,  .header-icon{
    @apply mt-[30px]
}

.hr-logo{
    @apply mt-[5px]
}


.slide-bar-header{
    @apply h-screen w-[-4px] bg-pink-500 absolute  ;
   
}

.icon-cart:hover .slide-bar-header{
   @apply w-[100px]
}



  .main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .main-menu li {
    padding: 0px;
    position: relative;
  }
  
  .main-menu a {
    text-decoration: none;
    color: #260808;
  }
  
  .sub-menu {
    position: relative;
  }
  
  .sub-menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }
  
  .sub-menu:hover .sub-menu-items {
    display: block;
  }
  
  .sub-menu-items li {
    padding: 0px;
  }




  .ribbon {
    width: 20px;
    font-size: 14px;
    height: 20;
    position: absolute;
    margin-left: 20px;
    text-align: center;
    border-radius: 25px;
  
    background-color: #ff9800;
    color: white;
  }