<div class="bg-pink-100 h-[20px]">

</div>

<header>

    <div class="div-header">
        <ul class="header-menu">
            <li>Home</li>
            <li>Shopping</li>
            <li>Contact</li>
            <li>Us about</li>
        </ul>
    </div>

    <div class="hr-logo" >
        <img class="header-logo" src="assets/Images/logo.jpg">
    </div>

    <div class="header-icon">
        <div class="icon-search">
            <div class="relative ...">
                <div class="absolute pointer-events-auto ...">
                 
                </div>
                <input type="text" placeholder="Search" class="outline-none border-none focus:text-red-500">
              </div>
        </div>
        <div class="icon-cart"><mat-icon>shopping_cart</mat-icon></div>
        <div><mat-icon>menu</mat-icon></div>
    </div>


    


</header>
<br>
<hr>

<div class="slide-bar-header">


</div>