<div class="px-[100px] mt-[20px] ">
   
      
            <div class="flex ">
                <div class="w-[500px]">
                    <img [src]="'assets/Images/' + products.productInfo.Hinh"  alt="" class="w-[500px] rounded-8 "
                        style="height: 480px; ">
                </div>

                <div class="ml-3 w-[500px] ">
                    <div class="">
                        
                        <div class="flex">
                            <h2 class="ml-[20px]">{{products && products.productInfo && products.productInfo.TenSP}}</h2>
                            <p class="text-danger" *ngIf="PhanTramGiam != 0"><span class=" ml-[10px] " style="color: red;"  >-{{PhanTramGiam}}% </span> </p>
                        </div>
                        <div class="flex gap-x-[15px] w-full  grid grid-cols-2 ">
                            <div class="flex w-[350px] justify-center" >
                                <div class="" *ngFor="let item of products.productInfo.DonGia">
                                    <input class="form-check-input hidden-input" type="radio" name="sizegia"
                                        [id]="item.Size" [value]="item.Gia" (click)="selectSize(item.Gia, item.Size)">

                                    <label class="form-check-label d-flex" [for]="item.Size"
                                        [ngClass]="(selectedSizePrice === item.Gia) ? 'selected' : ''">
                                        <span style="font-size: 40px;" class="material-symbols-outlined ">
                                            {{ getIconName(item.Size) }} </span>
                                        {{item.Size}}
                                    </label>
                                </div>
                            </div>
                            <div class="flex w-[150px] ml-[50px] bg-red-500 justify-center rounded-8 items-center">
                                <p class="text-center text-[20px] font-bold " style="color: aliceblue;"> {{showgiaSize() | currency:'VND':'symbol':'1.0-0'}} </p>
                            </div>
                        </div>

                        

                       
                        <div class="grid grid-cols-2  w-[500px] mt-[20px] h-[200px] overflow-y-scroll">

                            <ng-container *ngFor="let item of products.toppings; let i = index">
                              <div class="flex" *ngFor="let item2 of item.Topping; let j = index">
                                <div class="flex">
                                  <ul class="flex gap-x-1 two-column-list">
                                    <li>
                                      <img [src]="'assets/Images/' + '10ba5f40e01fce490b80f27b8217c3df.png'" class="w-10 rounded-circle" />
                                    </li>
                                    <li class="w-[110px]">
                                      <input (click)="toppingQuantity.value = +toppingQuantity.value > 0 ? '0' : '1'" class="form-check-input hidden-input" type="checkbox" name="toppinggia"
                                        [id]="item2.tentopping" [value]="item2.gia"
                                        (input)="selectTopping(item2._id, item2.gia, item2.tentopping, +toppingQuantity.value)">
                                      <label class="form-check-label text-[12px]" [ngClass]="isSelectedTopping(item2.tentopping) ? 'selected' : ''"
                                        [for]="item2.tentopping" title="{{ item2.tentopping }}">
                                        {{ truncateName(item2.tentopping, 15) }}
                                      </label>
                                    </li>
                                    <li>
                                      <div class="text-[12px] flex">{{ formatPrice(item2.gia) | currency:'VND':'symbol':'1.0-0' }}</div>
                                    </li>
                                    <li>
                                      <input style="height: fit-content;width:50px;border: solid rgb(226 232 240); font-size: 12px; "
                                        (change)="selectTopping(item2._id, item2.gia, item2.tentopping, +toppingQuantity.value)" type="number"
                                        id="{{item2.tentopping + i + j}}" min="0" max="10" class="form-control ml-3 border-2 bg-blue-500" value="" #toppingQuantity>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </ng-container>
                        </div>
                          

                        <hr style="border: solid 1px gray ;">

                        <div class="">
                           
                            <div class="">
                                <p class="text-[15px] font-bold text-gray-500"> Thức uống kèm: {{showTongGiaTopping() | currency:'VND':'symbol':'1.0-0'}} </p>
                            </div>
                            <div class="flex ">
                                <div class="flex items-center gap-x-2">
                                <p class="mb-2 font-bold text-gray-500">Số ly: </p>
                                <input style="width:70px;" type="number" name="quantity" id="quantity" min="1" max="10"
                                style="height: fit-content;width:50px;border: solid rgb(226 232 240); font-size: 12px; " class="form-control" [(ngModel)]="selectedSoluongPrice">
                            </div>
                            </div>
                        </div>
                      

                        
                        <div class="flex">
                            <h4 class="ml-auto" *ngIf="PhanTramGiam != 0">
                                Thanh toán:
                                <span class="">{{calculateTotalPrice_CoKhuyenMai() | currency:'VND':'symbol':'1.0-0'}}</span> <span class="text-red-500 text-[15px]"
                                    *ngIf="calculateTotalPrice_CoKhuyenMai()!=0"><del>{{calculateTotalPrice() | currency:'VND':'symbol':'1.0-0'}}</del> </span>
                            </h4>

                        </div>
                       

                        <div class="flex">
                            <h4 class="ml-auto" *ngIf="PhanTramGiam == 0">
                               Thanh toán: {{ calculateTotalPrice() | currency:'VND':'symbol':'1.0-0'}}
                            </h4>

                        </div>
                        
                        
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <a *ngIf="state===true" (click)="truyenDetailProductJson()" class="btn btn-primary d-flex align-items-center">
                                    <mat-icon class="mr-2">add_shopping_cart</mat-icon> Thêm vào giỏ
                                </a>

                                <a *ngIf="state===false" style="background-color: darkgray;"  class="btn btn-primary d-flex align-items-center">
                                    <mat-icon class="mr-2">add_shopping_cart</mat-icon> Đã đóng cửa
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row mt-[20px]">
                <div class="col-8 ">
                    <div class="d-flex align-items-center">
                        <img [src]="'assets/Images/'+products.productInfo.MaCH.Hinh" class="rounded-circle" alt=""
                            style="width: 45px; height: 45px" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{products.productInfo.MaCH.TenCuaHang}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <p>{{products.productInfo.MieuTa}}</p>
                </div>
            </div>


    

</div>