<div class="infor">
    <p class="title-infor">Thông tin cá nhân</p>
    <p class="ml-[10px] text-[15px]">Phạm Thanh Tuyền | 0298545465585</p>
    <p class="ml-[10px]  text-[10px] text-red-500">* Đây là thông tin gốc của tài khoản khách hàng khi đăng ký tài khoản và không thể thay đổi !</p>
</div>
<br>
<div class="banner-address border-b-4">
   <p class="title-infor">Địa chỉ của tôi</p> 

   <button class="flex"><mat-icon class=" ">add</mat-icon>Thêm địa chỉ mới</button>
</div>
<br>
<div >

    <div class="address">
        <div class="name-address">
            <p><span class="font-bold"> Trần Thanh Nam</span> | 094245625445</p>
            <p>140 Lê Trọng Tấn</p>
        </div>
        <div class="change-address">
            <a>Cập nhật</a>
            <a>Xóa</a>
        </div>
    </div>
    <br>
    <div class="address">
        <div class="name-address">
            <p><span class="font-bold"> Trần Thanh Nam</span> | 094245625445</p>
            <p>140 Lê Trọng Tấn</p>
        </div>
        <div class="change-address">
            <a>Cập nhật</a>
            <a>Xóa</a>
        </div>
    </div>

</div>
