<div class="banner-result">
    <div class="img-banner" style="background-image: url(assets/Images/pexels-photo-2228559.jpeg); background-size: cover;">
        <div class="text-banner ">
            <p>result for "{{result}}"</p>
        </div>
    </div>
</div>

<br>

 <div class="list-product">
    <div class="item-product" *ngFor="let item of products">
        <img  src="assets/Images/poster_banh.jpeg">
        <div class="infor-product">
        <p class="product-address"> <mat-icon class="text-orange-600">storefront</mat-icon> {{ item.MaCH.DiaChi | slice:0:27 }} ...</p>
        <div class="flex"> 
            <p class="product-name">{{ (item.TenSP.length > 18) ? (item.TenSP | slice:0:18) + '...' : item.TenSP }}</p>
            <p class="product-price">{{ getMinPrice(item.DonGia) | currency:'VND':'symbol':'1.0-0' }}</p>
        </div>
        <div class="product-button">
            <div class="icon"><mat-icon>monetization_on</mat-icon></div>
            
            <p>Go shop</p>
        </div>
        </div>
    </div>
</div> 
<br>